<section class="content">
  <div class="container">
    <div class="row">
      <br>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <%= render "form", question: @question %>
      </div>
      <div class="col-lg-4 col-md-4">
        <%= render 'shared/sidebar' %>
      </div>
    </div>
  </div>
</section>
