<div class="sidebarblock">
  <h3>My Active Questions</h3>
  <% @current_user_questions.to_a.each do |question| %>
    <div class="divline"></div>
    <div class="blocktxt">
      <a href="<%= question_path(question) %>"><%= question.title %></a>
    </div>
  <% end %>
