<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 breadcrumbf">
        <a href="/">Questions</a> <span class="diviver">&gt;</span> <a href="/">General Discussion</a> <span class="diviver">&gt;</span> <a href="/">Topic Details</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <!-- POST -->
        <div class="post beforepagination">
          <div class="topwrap">
            <div class="userinfo pull-left">
              <div class="avatar">
                <img src="/site_assets/avatar.jpg" alt="">
                <div class="status green">&nbsp;</div>
              </div>
              <div class="icons">
                <img src="/site_assets/icon1.jpg" alt=""><img src="/site_assets/icon4.jpg" alt=""><img src="/site_assets/icon5.jpg" alt=""><img src="/site_assets/icon6.jpg" alt="">
              </div>
            </div>
            <div class="posttext pull-left">
              <h2>10 Kids Unaware of Their Halloween Costume</h2>
              <p>Today, we're looking at three particularly interesting stories. Pinterest added a new location-based feature on Wednesday that uses Place Pins as a way to map out vacations and favorite areas. Southwest Airlines is providing Wi-Fi access from gate to gate for $8 per day through an onboard hotspot. And in an effort to ramp up its user base, Google Wallet is offering a debit card that can take out cash from.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="postinfobot">
            <div class="likeblock pull-left">
              <a href="/" class="up"><i class="fa fa-thumbs-o-up"></i>25</a>
              <a href="/" class="down"><i class="fa fa-thumbs-o-down"></i>3</a>
            </div>
            <div class="prev pull-left">
              <a href="/"><i class="fa fa-reply"></i></a>
            </div>
            <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : 20 Nov @ 9:30am</div>
            <div class="next pull-right">
              <a href="/"><i class="fa fa-share"></i></a>
              <a href="/"><i class="fa fa-flag"></i></a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- POST -->
        <div class="paginationf">
          <div class="pull-left"><a href="/" class="prevnext"><i class="fa fa-angle-left"></i></a></div>
          <div class="pull-left">
            <ul class="paginationforum">
              <li class="hidden-xs"><a href="/">1</a></li>
              <li class="hidden-xs"><a href="/">2</a></li>
              <li class="hidden-xs"><a href="/">3</a></li>
              <li class="hidden-xs"><a href="/">4</a></li>
              <li><a href="/">5</a></li>
              <li><a href="/">6</a></li>
              <li><a href="/" class="active">7</a></li>
              <li><a href="/">8</a></li>
              <li class="hidden-xs"><a href="/">9</a></li>
              <li class="hidden-xs"><a href="/">10</a></li>
              <li class="hidden-xs hidden-md"><a href="/">11</a></li>
              <li class="hidden-xs hidden-md"><a href="/">12</a></li>
              <li class="hidden-xs hidden-sm hidden-md"><a href="/">13</a></li>
              <li><a href="/">1586</a></li>
            </ul>
          </div>
          <div class="pull-left"><a href="/" class="prevnext last"><i class="fa fa-angle-right"></i></a></div>
          <div class="clearfix"></div>
        </div>
        <!-- POST -->
        <div class="post">
          <div class="topwrap">
            <div class="userinfo pull-left">
              <div class="avatar">
                <img src="/site_assets/avatar2.jpg" alt="">
                <div class="status red">&nbsp;</div>
              </div>
              <div class="icons">
                <img src="/site_assets/icon3.jpg" alt=""><img src="/site_assets/icon4.jpg" alt=""><img src="/site_assets/icon5.jpg" alt=""><img src="/site_assets/icon6.jpg" alt="">
              </div>
            </div>
            <div class="posttext pull-left">
              <p>Typography helps you engage your audience and establish a distinct, unique personality on your website. Knowing how to use fonts to build character in your design is a powerful skill, and exploring the history and use of typefaces, as well as typogra...</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="postinfobot">
            <div class="likeblock pull-left">
              <a href="/" class="up"><i class="fa fa-thumbs-o-up"></i>10</a>
              <a href="/" class="down"><i class="fa fa-thumbs-o-down"></i>1</a>
            </div>
            <div class="prev pull-left">
              <a href="/"><i class="fa fa-reply"></i></a>
            </div>
            <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : 20 Nov @ 9:45am</div>
            <div class="next pull-right">
              <a href="/"><i class="fa fa-share"></i></a>
              <a href="/"><i class="fa fa-flag"></i></a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- POST -->
        <!-- POST -->
        <div class="post">
          <div class="topwrap">
            <div class="userinfo pull-left">
              <div class="avatar">
                <img src="/site_assets/avatar3.jpg" alt="">
                <div class="status red">&nbsp;</div>
              </div>
              <div class="icons">
                <img src="/site_assets/icon3.jpg" alt=""><img src="/site_assets/icon4.jpg" alt=""><img src="/site_assets/icon5.jpg" alt=""><img src="/site_assets/icon6.jpg" alt="">
              </div>
            </div>
            <div class="posttext pull-left">
              <blockquote>
                <span class="original">Original Posted by - theguy_21:</span>
                Did you see that Dove ad pop up in your Facebook feed this year? How about the Geico camel one? 
              </blockquote>
              <p>Toronto Mayor Rob Ford does not have a bigger fan than "Anchorman's" Ron Burgundy. In fact, Burgundy wants Ford to be re-elected so much, that he agreed to sing the campaign song Brien. The tune in question ...</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="postinfobot">
            <div class="likeblock pull-left">
              <a href="/" class="up"><i class="fa fa-thumbs-o-up"></i>55</a>
              <a href="/" class="down"><i class="fa fa-thumbs-o-down"></i>12</a>
            </div>
            <div class="prev pull-left">
              <a href="/"><i class="fa fa-reply"></i></a>
            </div>
            <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : 20 Nov @ 9:50am</div>
            <div class="next pull-right">
              <a href="/"><i class="fa fa-share"></i></a>
              <a href="/"><i class="fa fa-flag"></i></a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- POST -->
        <!-- POST -->
        <div class="post">
          <form action="/" class="form" method="post">
            <div class="topwrap">
              <div class="userinfo pull-left">
                <div class="avatar">
                  <img src="/site_assets/avatar4.jpg" alt="">
                  <div class="status red">&nbsp;</div>
                </div>
                <div class="icons">
                  <img src="/site_assets/icon3.jpg" alt=""><img src="/site_assets/icon4.jpg" alt=""><img src="/site_assets/icon5.jpg" alt=""><img src="/site_assets/icon6.jpg" alt="">
                </div>
              </div>
              <div class="posttext pull-left">
                <div class="textwraper">
                  <div class="postreply">Post a Reply</div>
                  <textarea name="reply" id="reply" placeholder="Type your message here"></textarea>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="postinfobot">
              <div class="notechbox pull-left">
                <input type="checkbox" name="note" id="note" class="form-control">
              </div>
              <div class="pull-left">
                <label for="note"> Email me when some one post a reply</label>
              </div>
              <div class="pull-right postreply">
                <div class="pull-left smile"><a href="/"><i class="fa fa-smile-o"></i></a></div>
                <div class="pull-left"><button type="submit" class="btn btn-primary">Post Reply</button></div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
        <!-- POST -->
      </div>
      <div class="col-lg-4 col-md-4">
        <%= render 'shared/sidebar' %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="pull-left"><a href="/" class="prevnext"><i class="fa fa-angle-left"></i></a></div>
        <div class="pull-left">
          <ul class="paginationforum">
            <li class="hidden-xs"><a href="/">1</a></li>
            <li class="hidden-xs"><a href="/">2</a></li>
            <li class="hidden-xs"><a href="/">3</a></li>
            <li class="hidden-xs"><a href="/">4</a></li>
            <li><a href="/">5</a></li>
            <li><a href="/">6</a></li>
            <li><a href="/" class="active">7</a></li>
            <li><a href="/">8</a></li>
            <li class="hidden-xs"><a href="/">9</a></li>
            <li class="hidden-xs"><a href="/">10</a></li>
            <li class="hidden-xs hidden-md"><a href="/">11</a></li>
            <li class="hidden-xs hidden-md"><a href="/">12</a></li>
            <li class="hidden-xs hidden-sm hidden-md"><a href="/">13</a></li>
            <li><a href="/">1586</a></li>
          </ul>
        </div>
        <div class="pull-left"><a href="/" class="prevnext last"><i class="fa fa-angle-right"></i></a></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>
